body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
input,
form,
a,
p,
textarea {
  margin: 0;
  padding: 0;
}
ol,
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  display: block;
}
img {
  border: none;
  display: block;
}
input {
  background: none;
  outline: none;
  border: none;
}
@media screen and (max-width: 500px) {
  .pc {
    display: none;
  }
  .mobile {
    display: block !important;
    overflow-x: hidden;
  }
}
body {
  background-color: #f4f4f4;
  font: tahoma, arial, "Hiragino Sans GB", "\5b8b\4f53", sans-serif;
  overflow-x: hidden;
}
/* 头部导航栏部分 */
.header_nav {
  width: 100%;
  height: 36px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #eee;
  font-size: 12px;
}
.header_nav_container {
  margin: 0 auto;
  width: 1190px;
  height: 35px;
}
/* 导航栏左边部分 */
.header_nav_left {
  float: left;
  line-height: 36px;
  display: flex;
}
.header_nav_left_item {
  padding: 0 6px;
  box-sizing: border-box;
}
.header_nav_left_item:hover {
  color: #f40;
  cursor: pointer;
}
/* 地址 */
li.location {
  position: relative;
}
li.location:hover {
  z-index: 11;
  background-color: #fff;
}
li.location:hover ul {
  display: block;
}
.hover_location_menu > li:hover {
  background-color: #f5f5f5;
  z-index: 100;
}
.hover_location_menu {
  position: absolute;
  left: 0px;
  width: 250px;
  height: 300px;
  overflow: scroll;
  display: none;
  border: 1px solid #eee;
  background-color: #fff;
  box-sizing: border-box;
  z-index: 10;
}
.hover_location_menu > li {
  padding: 0 6px;
  color: #3c3c3c;
}

/* 导航栏右边部分 */
.header_nav_right {
  float: right;
  line-height: 36px;
  display: flex;
  position: relative;
}
.header_nav_right_item {
  padding: 0 6px;
}
/* 我的淘宝 */
.myTaobao:hover {
  background-color: #fff;
  cursor: pointer;
  z-index: 100;
}
.myTaobao:hover > :first-child {
  color: #f40;
}
li.myTaobao {
  position: relative;
}
li.myTaobao:hover ul {
  display: block;
}
.hover_myTaobao_menu > li:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}
.hover_myTaobao_menu {
  position: absolute;
  left: 0;
  width: 100px;
  height: 70px;
  display: none;
  background-color: #fff;
  border: 1px solid #eee;
}
.hover_myTaobao_menu > li {
  padding: 0 6px;
}
/* 购物车 */
.shopCar:hover {
  color: #f40;
  cursor: pointer;
  z-index: 100;
}
/* 收藏 */
.collection:hover {
  background: #fff;
  cursor: pointer;
  z-index: 100;
}
.collection:hover > span {
  color: #f40 !important;
}
li.collection {
  position: relative;
}
li.collection:hover ul {
  display: block;
}
.hover_collection_menu > li:hover {
  background-color: #f5f5f5;
  cursor: pointer;
  z-index: 100;
}
.hover_collection_menu {
  position: absolute;
  left: 0;
  width: 75px;
  height: 68px;
  display: none;
  border: 1px solid #eee;
  background-color: #fff;
}
.hover_collection_menu > li {
  padding: 0 6px;
}
/* 商品分类 */
.category:hover {
  cursor: pointer;
  color: #f40;
  z-index: 100;
}
/* 千牛卖家中心 */
.qnSellerCenter:hover {
  background: #fff;
  z-index: 11;
  cursor: pointer;
}
.qnSellerCenter:hover > span {
  color: #f40 !important;
}
li.qnSellerCenter {
  position: relative;
}
li.qnSellerCenter:hover ul {
  display: block;
  cursor: pointer;
}
.hover_qnSellerCenter_menu > li:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}
.hover_qnSellerCenter_menu {
  position: absolute;
  left: 0;
  width: 85px;
  height: 260px;
  display: none;
  border: 1px solid #eee;
  background-color: #fff;
}
.hover_qnSellerCenter_menu > li {
  padding: 0 6px;
}
/* 联系客服 */
.customerService:hover {
  background: #fff;
  cursor: pointer;
  z-index: 100;
}
.customerService:hover > span {
  color: #f40;
}
li.customerService {
  position: relative;
}
li.customerService:hover ul {
  display: block;
  cursor: pointer;
}
.hover_customerService_menu > li:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}
.hover_customerService_menu {
  position: absolute;
  left: 0;
  width: 72px;
  height: 70px;
  display: none;
  border: 1px solid #eee;
  background-color: #fff;
}
.hover_customerService_menu > li {
  padding: 0 6px;
}
/* 网站导航 */
.webNavigation:hover {
  background: #fff;
  cursor: pointer;
  z-index: 100;
}
.webNavigation:hover > span {
  color: #f40;
}
li.webNavigation {
  position: relative;
}
li.webNavigation:hover div {
  display: block;
}
.hover_webNavigation_menu {
  position: absolute;
  left: -1102px;
  width: 1190px;
  height: 365px;
  display: none;
  border: 1px solid #eee;
  background-color: #fff;
}
.hover_webNavigation_menu > div {
  float: left;
  width: 296px;
}
.hover_webNavigation_menu div:first-child {
  border-right: 1px solid #dddddd;
  height: 365px;
  /* background-color: red; */
}
.hover_webNavigation_menu div:nth-child(2) {
  height: 190px;
  border-right: 1px solid #dddddd;
}
.hover_webNavigation_menu div:nth-child(3) {
  height: 255px;
  border-right: 1px solid #ddd;
}
.hover_webNavigation_menu div:nth-child(4) {
  height: 265px;
}
/* 主题市场 */
.hover_webNavigation_menu_themeMarket span {
  display: inline-block;
  margin-left: 10px;
  font-size: 17px;
  color: #fc4505;
  font-weight: 600;
}
.hover_webNavigation_menu_themeMarket ul > li {
  display: inline-block;
  width: 40px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  margin: 0 10px;
}
.hover_webNavigation_menu_themeMarket ul > li:hover {
  background-color: #fc4505;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}
/* 特色市场 */
.hover_webNavigation_menu_charMarket span {
  display: inline-block;
  margin-left: 10px;
  font-size: 17px;
  color: #a0b959;
  font-weight: 600;
}
.hover_webNavigation_menu_charMarket ul > li {
  display: inline-block;
  font-size: 14px;
  width: 70px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  margin: 0 10px;
}
.hover_webNavigation_menu_charMarket ul > li:hover {
  background-color: #a0b959;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}
/* 阿里APP */
.hover_webNavigation_menu_aliApp span {
  display: inline-block;
  margin-left: 10px;
  font-size: 17px;
  color: #df61ab;
  font-weight: 600;
}
.hover_webNavigation_menu_aliApp ul > li {
  display: inline-block;
  font-size: 14px;
  width: 70px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  margin: 0 10px;
}
.hover_webNavigation_menu_aliApp ul > li:hover {
  background-color: #df61ab;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}
/* 精彩推荐集 */
.hover_webNavigation_menu_recommend span {
  display: inline-block;
  margin-left: 10px;
  font-size: 17px;
  color: #2e9fd8;
  font-weight: 600;
}
.hover_webNavigation_menu_recommend ul > li {
  display: inline-block;
  font-size: 14px;
  width: 110px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  margin: 0 10px;
}
.hover_webNavigation_menu_recommend ul > li:hover {
  background-color: #2e9fd8;
  border-radius: 5px;
  color: #fff;
}

/* 头部搜索栏部分 */
.header_search {
  position: sticky;
  top: 0;
  width: 100%;
  height: 140px;
  background-color: #fff;
  z-index: 10;
}
.header_search_container {
  width: 1190px;
  margin: 0 auto;
  height: 90px;
}
.header_search_container_wrap {
  width: 1190px;
  height: 110px;
  margin: 0 auto;
  padding-top: 30px;
}
.header_search_input {
  position: relative;
  height: 80px;
  width: 320px;
}
/* logo部分 */
.header_search_logo {
  width: 190px;
  height: 80px;
  float: left;
  margin-top: 8px;
  margin-left: 25px;
  background: url(http://img.alicdn.com/tfs/TB1_uT8a5ERMeJjSspiXXbZLFXa-143-59.png)
    0 0 no-repeat;
}
/* 输入框部分 */
.header_search_content {
  width: 630px;
  height: 100px;
  margin-left: 258px;
  margin-right: 302px;
}
.search_content_hd {
  height: 62px;
  width: 630px;
}
.content_hd_tabs {
  width: 613px;
  height: 22px;
  margin-left: 17px;
}
.content_hd_tabs ul > li {
  display: inline-block;
  text-align: center;
  width: 36px;
  height: 22px;
  line-height: 22px;
  cursor: pointer;
  color: #f40;
  font-size: 13px;
}
.content_hd_panel {
  width: 613px;
  height: 40px;
  position: relative;
}
.search_ft_panel_input {
  border: 2px solid #ff5000;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-right: none;
  margin-right: 22px;
  height: 36px;
  overflow: hidden;
}
.search_ft_panel_input i:first-child {
  position: relative;
  top: 2px;
  left: 14px;
  font-size: 15px;
  z-index: 1;
}
.search_ft_panel_input .camera {
  position: relative;
  top: 4px;
  right: -12px;
  font-size: 25px;
  cursor: pointer;
}
.search_ft_panel_input > input {
  padding: 5px 0;
  background-color: #fff;
  height: 25px;
  width: 480px;
  text-indent: 10px;
}
.search_ft_btn {
  height: 40px;
  width: 74px;
  z-index: 2;
  position: absolute;
  right: -20px;
  top: 0;
  text-align: center;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.search_ft_btn > button {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  background-color: #ff4200;
  cursor: pointer;
  border: none;
  width: 100%;
  height: 100%;
}

.search_content_ft {
  width: 589px;
  height: 18px;
}
.search_content_ft > a {
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
}
.search_content_ft > a:hover {
  color: #f40;
}
.search_content_ft a:nth-child(3) {
  color: #f40;
}

/* 中间导航栏 */
.center_nav {
  width: 100%;
  height: 30px;
  background-repeat: repeat-x;
}
.center_nav_wrap {
  width: 1190px;
  height: 30px;
  margin: 0 auto;
  background-image: linear-gradient(to right, #ff9000 0, #ff5000 100%);
}
.center_nav_wrap h3 {
  width: 190px;
  line-height: 30px;
  text-align: center;
  background-color: #ff5200;
  color: #fff;
  font-weight: normal;
  float: left;
}
.center_nav_hd {
  float: left;
}
.center_nav_hd > li {
  line-height: 30px;
  display: inline-block;
  padding: 0 3px;
  margin: 0 4px;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
}
.center_nav_wrap .first > li {
  font-size: 16px;
}

/* 中间内容部分 */
.center_content {
  width: 100%;
  height: 522px;
}
.center_content_wrap {
  width: 1190px;
  height: 522px;
  margin: 0 auto;
  position: relative;
}
/* 左边导航栏 */
.center_content_left_nav {
  width: 190px;
  height: 522px;
  background-color: #fff;
  border: 1px solid #ff5000;
  border-top: none;
  box-sizing: border-box;
}
.center_content_left_nav ul {
  padding: 2px 0;
}
.center_content_left_nav ul li {
  width: 145px;
  height: 34px;
  margin: 0 auto;
  text-align: left;
  line-height: 34px;
  padding-left: 23px;
  padding-right: 20px;
  color: #666;
  position: relative;
}

.center_content_left_nav ul li:hover {
  background-color: #ffe4dc;
  /* color: #ff5000 !important; */
}
.center_content_left_nav ul li:hover div {
  display: block;
  z-index: 1;
}
.center_content_left_nav a {
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  color: #666;
  cursor: pointer;
}
.center_content_left_nav_item:hover {
  text-decoration: underline;
  color: #ff5000;
  text-decoration-color: #ff5000;
}
.center_content_left_nav ul li > i {
  position: absolute;
  font-size: 13px;
  top: 1px;
  right: 6px;
}
/* 左边导航栏弹出部分 */
.left_nav_hover {
  width: 700px;
  height: 519px;
  border: 2px solid #f94a14;
  box-shadow: 2px 2px 0 #dcdadb;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 188px;
  display: none;
}
.second {
  top: -34px;
}
.third {
  top: -68px;
}
.fourth {
  top: -102px;
}
.fifth {
  top: -136px;
}
.sixth {
  top: -170px;
}
.seventh {
  top: -204px;
}
.eighth {
  top: -238px;
}
.ninth {
  top: -272px;
}
.tenth {
  top: -306px;
}
.eleventh {
  top: -340px;
}
.twelfth {
  top: -374px;
}
.thirteenth {
  top: -408px;
}
.fourteenth {
  top: -442px;
}
.fifteenth {
  top: -476px;
}
.nav_hover_leftPart {
  float: left;
  width: 423px;
  height: 519px;
  padding-right: 12px;
  padding-left: 10px;
  overflow-y: scroll;
}
.nav_hover_leftPart_wrap {
  margin: 10px 0;
}
.nav_hover_rightPart {
  float: left;
  width: 253px;
  border-left: 1px solid #f4f4f4;
  height: 518px;
  /* padding-top: 20px; */
  /* background-color: green; */
}
.nav_hover_rightPart_wrap {
  height: 518px;
  width: 100%;
  padding-right: 14px;
  box-sizing: border-box;
  text-align: center;
  /* background-color: red; */
}
.full {
  width: 100% !important;
}
.nav_hover_leftPart_wrap > div {
  width: 50%;
  box-sizing: border-box;
  margin-bottom: 5px;
  padding-left: 20px;
  float: left;
  overflow: hidden;
  font-size: 12px;
  color: #666;
}

.nav_hover_leftPart_wrap div > h5 {
  font-size: 16px;
  color: #333;
}
.nav_hover_leftPart_wrap div p > a {
  color: #666;
  display: inline-block;
  margin-right: 12px;
}
.nav_hover_leftPart_wrap div p > a:hover {
  cursor: pointer;
}
/* 左边导航栏弹出部分-右边图片 */
.nav_hover_rightPart_wrap span {
  display: block;
}
.nav_hover_rightPart_wrap > div {
  display: inline-block !important;
  width: 97px;
  height: 143px;
  padding: 6px 0 0 20px;
  overflow: hidden;
  cursor: pointer;
  font-size: 12px;
  color: #666;
}
.nav_hover_rightPart_wrap div > img {
  width: 98px;
  height: 97px;
}
/* 轮播图 */
.center_content_swiper {
  width: 520px;
  height: 280px;
  position: absolute;
  top: 10px;
  left: 200px;
}

/* 天猫 */
/* 头部 */
.center_content_tmall {
  width: 520px;
  height: 230px;
  bottom: 0;
  left: 200px;
  position: absolute;
}
.tmall_header {
  position: absolute;
  width: 520px;
  height: 32px;
  padding-top: 6px;
  font-size: 14px;
  box-sizing: border-box;
}
.tmall_header span:first-child {
  height: 19px;
}
.tmall_header span:nth-child(2) {
  font-size: 12px;
  color: #666;
}
.tmall_header_banner {
  width: 520px;
  height: 205px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: blue;
}
/* 右边广告图 */
.center_content_ad {
  width: 160px;
  height: 512px;
  margin: 10px 10px 0 0;
  position: absolute;
  top: 0;
  right: 290px;
}
.center_content_ad > span {
  height: 27px;
  line-height: 27px;
  font-size: 12px;
  color: #666;
  text-align: left;
  display: block;
}
.ad_hotToday {
  height: 205px;
  width: 160px;
}
/* 最右边部分 */
.center_content_right {
  width: 290px;
  height: 522px;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #fff;
}
/* 右边成员部分 */
.right_member {
  width: 290px;
  height: 137px;
}
.right_selfie_wrap {
  width: 74px;
  height: 56px;
  margin: 5px auto;
  display: block;
}
.right_selfie {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  background-color: blue;
  border: 3px solid #fff;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}
.right_member_hi {
  display: block;
  width: 290px;
  height: 17px;
  text-align: center;
  color: #666;
  font-size: 12px;
}
.right_member_tjb {
  width: 290px;
  height: 17px;
  color: #ff5001;
  text-align: center;
  cursor: pointer;
}
.right_member_tjb > span {
  background-color: #ffe4db;
  border-radius: 9px;
  font-size: 13px;
  margin: 0 5px;
}
.right_member_button {
  width: 290px;
  height: 40px;
  text-align: center;
}
.right_member_button > span {
  color: #fff;
  background-color: #ff5001;
  border-radius: 4px;
  display: inline-block;
  width: 75px;
  height: 25px;
  margin: 10px 2px;
  text-align: center;
  line-height: 25px;
  cursor: pointer;
}
.right_member_button span:first-child {
  width: 98px;
}
/* 右边tipoff部分 */
.right_tipoff {
  width: 290px;
  height: 65px;
  margin: 10px 0;
  cursor: pointer;
}
/* 右边通知部分 */
.right_notice_title {
  width: 276px;
  height: 24px;
  margin: 4px 2px;
  padding: 0 8px;
}
.right_notice_title > li {
  display: inline-block;
  width: 32px;
  height: 20px;
  margin: 0 9px;
  line-height: 20px;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
}
.right_notice_title > li:hover {
  border-bottom: 2px solid #f40;
  color: #f40;
  cursor: pointer;
}
.right_notice_content {
  width: 290px;
  height: 37px;
}
.right_notice_content > ul {
  display: inline-block;
  width: 260px;
  height: 25px;
  padding: 6px 0;
  margin: 0 12px;
}
.right_notice_content ul > li {
  color: #ff5000;
  width: 260px;
  height: 25px;
  line-height: 25px;
  font-size: 13px;
  overflow: hidden;
  text-align: center;
  font-weight: 700;
}
/* 右边模块部分 */
.right_module {
  width: 288px;
  height: 154px;
}
.right_module > ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.right_module ul > li {
  height: 78px;
  width: 73px;
  margin: 0 -1px -1px 0 ;
  box-sizing: border-box;
  border: 1px solid #f4f4f4;
  border-left: none;
  position: relative;
}
.right_module ul li:nth-child(4) {
  border-right: none;
}
.right_module ul li:nth-child(8) {
  border-right: none;
}
.right_module ul li > span {
  display: block;
  text-align: center;
  cursor: pointer;
}
/* 充话费部分 */
.module_topUp span:first-child {
  margin-top: 10px;
  font-size: 25px;
}
.module_topUp span:nth-child(2) {
  margin-top: 5px;
  font-size: 13px;
  color: #3c3c3c;
}
.topUp_hover {
  width: 288px;
  height: 159px;
  position: absolute;
  top: 76px;
  left: -1px;
  border: 1px solid #f40;
  display: none;
  background: #fff;
  z-index: 1;
}
.module_topUp:hover {
  border: 1px solid #f40;
  border-bottom: 1px solid #fff;
  /* z-index: 100; */
}
.module_topUp:hover .topUp_hover {
  display: block;
}
.module_topUp .topUp_hover_header > span {
  display: inline-block;
  font-size: 13px;
  color: #666;
  margin: 6px 0 6px 19px;
}
.hover_topUp_number {
  padding-left: 16px;
}
.hover_topUp_number span {
  position: absolute;
  top: 30px;
  right: 95px;
  cursor: pointer;
}
.hover_topUp input {
  border: 1px solid #666;
  font-size: 12px;
  width: 180px;
  height: 25px;
  text-indent: 10px;
}
.hover_topUp_amount {
  margin-top: -1px;
  padding-left: 16px;
}
.hover_topUp_amount span {
  position: absolute;
  top: 60px;
  right: 95px;
  cursor: pointer;
}
.hover_topUp_price {
  padding-left: 18px;
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 13px;
}
.hover_topUp_price span:first-child {
  color: #666;
  font-size: 13px;
}
.hover_topUp_price span:nth-child(2) {
  color: #999;
}
.hover_topUp_price span:nth-child(3) {
  color: #f60;
  font-weight: 700;
  font-family: verdana, arial;
}
.hover_topUp_price_btn {
  width: 71px;
  height: 27px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 700;
  position: absolute;
  bottom: 16px;
  left: 15px;
  border: none;
  color: #fff;
  background: #f22d00;
  cursor: pointer;
}
/* 旅行部分 */
.module_trip:hover {
  border: 1px solid #f40;
}
.module_trip:hover .trip_hover {
  display: block;
}
.module_trip span:first-child {
  margin-top: 10px;
  font-size: 25px;
}
.module_trip span:nth-child(2) {
  margin-top: 5px;
  font-size: 13px;
  color: #3c3c3c;
}
.trip_hover {
  width: 288px;
  height: 159px;
  position: absolute;
  top: 76px;
  left: -73px;
  border: 1px solid #f40;
  display: none;
  background: #fff;
  z-index: 1;
}
.trip_hover_header {
  padding: 0 5px;
}
.module_trip .trip_hover_header > span {
  display: inline-block;
  font-size: 12px;
  color: #666;
  margin: 6px 0;
  padding: 0 3px;
}
.trip_hover_type {
  padding: 0 5px;
  height: 20px;
  line-height: 20px;
}

.trip_hover_type > div {
  float: left;
  margin-right: 15px;
  font-size: 12px;
}
.trip_hover_type input {
  margin: 2px 0 0 5px;
}
.trip_hover_type span {
  color: #bbb;
  font-size: 12px;
}
.trip_hover_location {
  padding: 0 5px;
}
.trip_hover_setOut {
  width: 120px;
  height: 24px;
  line-height: 24px;
  border: 1px solid #ccc;
  margin-right: 20px;
  position: relative;
}
.trip_hover_setOut span {
  font-size: 12px !important;
  font-weight: normal;
  padding: 0 3px;
  color: #6b6b6b;
  background-color: #f5f5f5;
  position: absolute;
  top: -10px;
  left: 0;
}
.trip_hover_setOut input {
  position: absolute;
  top: 0;
  left: 32px;
  font-size: 13px;
  width: 65px;
  height: 20px;
  line-height: 20px;
  padding: 3px 20px 1px 3px;
}
.trip_hover_setOut i {
  color: #ccc;
  position: absolute;
  top: 0;
  right: 0;
}
.trip_hover_arrive {
  width: 120px;
  height: 24px;
  line-height: 24px;
  border: 1px solid #ccc;
  margin: -26px 3px 0 10px;
  position: relative;
  float: right;
}
.trip_hover_arrive span {
  font-size: 12px !important;
  font-weight: normal;
  padding: 0 3px;
  color: #6b6b6b;
  background-color: #f5f5f5;
  position: absolute;
  top: -10px;
  left: 0;
}
.trip_hover_arrive input {
  position: absolute;
  top: 0;
  left: 32px;
  font-size: 13px;
  width: 65px;
  height: 20px;
  line-height: 20px;
  padding: 3px 20px 1px 3px;
}
.trip_hover_arrive i {
  color: #ccc;
  position: absolute;
  top: 0;
  right: 0;
}
.trip_hover_location > span {
  float: left;
  margin: -18px 0 0 130px !important;
  font-size: 6px;
  color: #ccc !important;
}
.trip_hover_date {
  width: 120px;
  height: 24px;
  line-height: 24px;
  border: 1px solid #ccc;
  margin-right: 20px;
  margin-top: 0;
  position: relative;
}
.trip_hover_date span {
  font-size: 12px !important;
  font-weight: normal;
  padding: 0 3px;
  color: #6b6b6b;
  background-color: #f5f5f5;
  position: absolute;
  top: -10px;
  left: 0;
}
.trip_hover_date input {
  position: absolute;
  top: 0;
  left: 32px;
  font-size: 13px;
  width: 65px;
  height: 20px;
  line-height: 20px;
  padding: 3px 20px 1px 3px;
}
.trip_hover_date i {
  color: #ccc;
  position: absolute;
  top: 0;
  right: 0;
}
.trip_hover_btn {
  width: 46px;
  height: 27px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 600;
  position: absolute;
  bottom: 25px;
  left: 5px;
  border: none;
  color: #fff;
  background: #f40;
  cursor: pointer;
}
/* 车险部分 */
.module_carInsurance span:first-child {
  margin-top: 10px;
  font-size: 25px;
}
.module_carInsurance span:nth-child(2) {
  margin-top: 5px;
  font-size: 13px;
  color: #3c3c3c;
}
.module_game span:first-child {
  margin-top: 10px;
  font-size: 25px;
}
.module_game span:nth-child(2) {
  margin-top: 5px;
  font-size: 13px;
  color: #3c3c3c;
}
.module_lottery span:first-child {
  margin-top: 10px;
  font-size: 25px;
}
.module_lottery span:nth-child(2) {
  margin-top: 5px;
  font-size: 13px;
  color: #3c3c3c;
}
.module_movie span:first-child {
  margin-top: 10px;
  font-size: 25px;
}
.module_movie span:nth-child(2) {
  margin-top: 5px;
  font-size: 13px;
  color: #3c3c3c;
}
.module_hotel span:first-child {
  margin-top: 10px;
  font-size: 25px;
}
.module_hotel span:nth-child(2) {
  margin-top: 5px;
  font-size: 13px;
  color: #3c3c3c;
}
.module_financing span:first-child {
  margin-top: 10px;
  font-size: 25px;
}
.module_financing span:nth-child(2) {
  margin-top: 5px;
  font-size: 13px;
  color: #3c3c3c;
}

/* 右边app部分 */
.right_app {
  width: 290px;
  height: 77px;
}
.right_app_text {
  width: 290px;
  height: 30px;
  position: relative;
}
.right_app span:first-child {
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  padding-left: 14px;
  font-weight: 600;
  position: absolute;
  left: 0;
  top: 3px;
}
.right_app span:nth-child(2) {
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  position: absolute;
  top: 2px;
  right: 20px;
  cursor: pointer;
}
.right_app span:nth-child(3) {
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  position: absolute;
  top: 2px;
  right: 10px;
  cursor: pointer;
}
.right_app_logo {
  width: 320px;
  height: 47px;
  box-sizing: border-box;
  margin: 5px 5px;
  padding: 0 20px;
  overflow: hidden;
}
.right_app_logo > div {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 16px;
  cursor: pointer;
}
.right_app_logo div > img {
  width: 32px;
  height: 32px;
}

/* 中间有好货部分 */
.center_youhaohuo {
  width: 100%;
  height: 358px;
  margin-top: 10px;
}
.center_youhaohuo_wrap {
  width: 1190px;
  height: 358px;
  margin: 0 auto;
  background-color: #fff;
}
.youhaohuo_header {
  width: 100%;
  padding-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  float: left;
}
.youhaohuo_header span {
  height: 24px;
  line-height: 24px;
  color: #999;
  font-size: 13px;
  font-weight: 400;
  margin-left: 8px;
  float: left;
}
.youhaohuo_header img {
  float: left;
}
.youhaohuo_content {
  width: 1190px;
  height: 294px;
  box-sizing: border-box;
  padding-left: 21px;
  background-color: #fff;
  float: left;
}
.youhaohuo_content ul {
  display: flex;
  justify-content: space-between;
  width: 1163px;
  height: 294px;
}
.youhaohuo_content ul li {
  width: 180px;
  height: 271px;
  margin: 0 14px 17px 0;
}
.goodsList li:hover h4 {
  color: #ff4400;
}
.goodsList li img:hover {
  transition: opacity 0.2s;
  opacity: 0.8;
}
.goodsInfo h4 {
  margin-top: 5px;
  font-size: 16px;
  height: 28px;
  line-height: 28px;
  font-weight: normal;
  color: #3c3c3c;
  cursor: pointer;
}
.goodsInfo span {
  line-height: 24px;
  color: #999;
  font-size: 14px;
  overflow: hidden;
  height: 24px;
}
.goodsInfo div {
  line-height: 22px;
  height: 22px;
  margin-top: 12px;
  color: #35b1ff;
}

/* 中间每日好店+淘宝直播部分 */
.center_hdzb {
  width: 100%;
  height: 538px;
  margin-top: 10px;
  /* background-color: #fff; */
}
.center_hdzb_wrap {
  width: 1190px;
  height: 538px;
  margin: 0 auto;
}
/* 每日好店部分 */
.hdzb_shop {
  width: 590px;
  height: 540px;
  float: left;
  background-color: #fff;
}
.hdzb_shop_header {
  width: 100%;
  padding-left: 20px;
  margin-top: 20px;
  float: left;
}
.hdzb_shop_header span {
  height: 24px;
  line-height: 24px;
  color: #333;
  font-size: 13px;
  font-weight: 400;
  margin-left: 8px;
  float: left;
  cursor: pointer;
}
.hdzb_shop_header img {
  cursor: pointer;
  float: left;
}
.shopList li {
  padding: 6px 0 20px 12px;
  margin-left: 8px;
  width: 271px;
  height: 222px;
  float: left;
}
.shopList li span {
  color: #333;
  line-height: 42px;
  height: 42px;
  font-weight: normal;
  display: block;
  cursor: pointer;
}
.shopList li span:hover {
  color: #ff5000;
}
.shopList_imgWrap img {
  display: block;
  float: left;
  cursor: pointer;
}
.shopList_imgWrap img:hover {
  transition: opacity 0.2s;
  opacity: 0.8;
}
.shopList_imgWrap img:first-child {
  margin-right: 2px;
}
.shopList_imgWrap img:nth-child(2) {
  width: 89px;
  height: 89px;
  margin-bottom: 2px;
}
.shopList_imgWrap img:nth-child(3) {
  width: 89px;
  height: 89px;
}
/* 淘宝直播部分 */
.hdzb_live {
  width: 590px;
  height: 540px;
  float: left;
  margin-left: 10px;
  background-color: #fff;
}
.hdzb_live_header {
  width: 100%;
  padding-left: 20px;
  margin-top: 20px;
  float: left;
}
.hdzb_live_header span {
  height: 24px;
  line-height: 24px;
  color: #999;
  font-size: 13px;
  font-weight: 400;
  margin-left: 8px;
  float: left;
  cursor: pointer;
}
.hdzb_live_header img {
  cursor: pointer;
  float: left;
}
.liveList li {
  padding: 6px 0 20px 12px;
  margin-left: 8px;
  width: 271px;
  height: 222px;
  float: left;
  position: relative;
}
.liveList li span {
  color: #333;
  line-height: 42px;
  height: 42px;
  font-weight: normal;
  display: block;
  cursor: pointer;
}
.liveList li span:nth-child(3) {
  color: #fff;
  width: 271px;
  font-size: 14px;
  font-weight: normal;
  line-height: 42px;
  height: 42px;
  display: block;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  left: 13px;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.43) 100%
  );
}
.liveList_title:hover {
  color: #ff5000;
}
.liveList_imgWrap img {
  display: block;
  float: left;
  cursor: pointer;
}
.liveList_imgWrap img:hover {
  transition: opacity 0.2s;
  opacity: 0.8;
}
.liveList_imgWrap img:first-child {
  margin-right: 2px;
}
.liveList_imgWrap img:nth-child(2) {
  width: 89px;
  height: 89px;
  margin-bottom: 2px;
}
.liveList_imgWrap img:nth-child(3) {
  width: 89px;
  height: 89px;
}

/* 中间特色好物部分 */
.center_tshw {
  width: 100%;
  height: 290px;
  margin-top: 10px;
}
.center_tshw_wrap {
  width: 1190px;
  height: 290px;
  margin: 0 auto;
  position: relative;
}
.tshw_leftPart_header {
  width: 827px;
  height: 48px;
  line-height: 48px;
  background-color: #fff;
  text-align: left;
  color: #ad45df;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid #f4f4f4;
  padding-left: 20px;
}
.tshw_leftPart_content {
  display: flex;
}
.content_item {
  width: 210px;
  height: 234px;
  background-color: #fff;
  border: 1px solid #fff;
  border-right: 1px solid #f4f4f4;
}
.content_item:hover {
  border: 1px solid #f40;
}
.item_info {
  display: flex;
  flex-direction: column;
  margin: 15px 0 0 15px;
}
.item_info span:first-child {
  font-size: 18px;
  color: #3c3c3c;
  height: 26px;
  line-height: 26px;
  font-weight: normal;
}
.item_info span:nth-child(2) {
  font-size: 12px;
  color: #999;
  height: 22px;
  line-height: 22px;
  font-weight: normal;
}
.item_img {
  margin-top: 9px;
  padding-left: 30px;
}
.item_img img {
  width: 150px;
  height: 150px;
}
/* 右边图片部分 */
.tshw_rightPart {
  width: 300px;
  height: 250px;
  padding: 17px;
  border: 1px solid #fff;
  background: #fff;
  position: absolute;
  top: 0;
  right: 0;
}
.tshw_rightPart:hover {
  border: 1px solid #f40;
}

/* 中间热卖单品部分 */
.center_rmdp {
  width: 100%;
  height: 962px;
  margin-top: 10px;
}
.center_rmdp_wrap {
  width: 1190px;
  height: 962px;
  margin: 0 auto;
  background-color: #fff;
}
.rmdp_header {
  width: 1190px;
  background-color: #fff;
  border-bottom: 1px solid #f4f4f4;
  position: relative;
  overflow: hidden;
}
.rmdp_header span {
  display: block;
  height: 22px;
  line-height: 22px;
  margin: 17px 18px;
  text-align: left;
  color: #ff5500;
  font-size: 20px;
  font-weight: bold;
}
.rmdp_header div {
  display: flex;
  padding: 0 0 13px 18px;
}
.rmdp_header div a {
  color: #999;
  font-size: 12px;
  margin-bottom: 10px;
  padding-right: 15px;
  height: 14px;
}
.rmdp_header img {
  width: 32px;
  height: 15px;
  position: absolute;
  bottom: 18px;
  right: 12px;
}
.rmdp_content {
  width: 1190px;
  height: 703px;
  display: flex;
  flex-wrap: wrap;
}
.rmdp_content_item {
  width: 239px;
  height: 352px;
  box-sizing: border-box;
  border: 1px solid #f4f4f4;
  margin: -1px 0 0 -1px;
  padding: 20px;
}
.rmdp_content_item:hover {
  border: 1px solid #f40;
  z-index: 1;
}
.rmdp_content_item_img img {
  width: 197px;
  height: 197px;
  cursor: pointer;
}
.rmdp_content_item_line1 {
  display: block;
  height: 40px;
  line-height: 20px;
  margin: 8px 0;
  color: #666;
  font-size: 14px;
  cursor: pointer;
}
.rmdp_content_item_line2 {
  height: 18px;
  margin-bottom: 17px;
  cursor: pointer;
}
.rmdp_content_item_line2 span {
  font-size: 13px;
  color: #999;
  float: left;
  margin-right: 10px;
  cursor: pointer;
}
.rmdp_line3_price {
  float: left;
  position: relative;
  cursor: pointer;
}
.rmdp_line3_price span {
  color: #ff5000;
  position: absolute;
  top: 7px;
  left: -2px;
  cursor: pointer;
}
.rmdp_line3_price em {
  position: absolute;
  top: 0;
  left: 10px;
  font-size: 22px;
  font-style: normal;
  color: #ff5000;
  cursor: pointer;
  font-family: normal;
}
.rmdp_line3_proceeds {
  margin-top: 10px;
  font-size: 12px;
  color: #999;
  float: right;
  cursor: pointer;
}
.rmdp_bottom {
  width: 1190px;
  height: 170px;
  margin-left: 18px;
  display: flex;
}
.rmdp_bottom div {
  width: 375px;
  height: 130px;
  margin: 20px 11px 0 2px;
  background-color: pink;
}
.rmdp_bottom div img {
  border: 2px solid #fff;
  width: 100%;
  height: 130px;
  cursor: pointer;
}
.rmdp_bottom div img:hover {
  border: 2px solid #f40;
}

/* 中间猜你喜欢部分 */
.center_cnxh {
  width: 100%;
  height: auto;
  margin-top: 10px;
}
.center_cnxh_wrap {
  width: 1190px;
  height: auto;
  margin: 0 auto;
  background-color: #fff;
}
.cnxh_header {
  width: 1190px;
  background-color: #fff;
  border-bottom: 1px solid #f4f4f4;
  position: relative;
  overflow: hidden;
}
.cnxh_header span {
  display: block;
  height: 22px;
  line-height: 22px;
  margin: 17px 18px;
  text-align: left;
  color: #ff9f00;
  font-size: 20px;
  font-weight: bold;
}
.cnxh_content {
  width: 1190px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}
.cnxh_content_item {
  width: 239px;
  height: 330px;
  box-sizing: border-box;
  border: 1px solid #f4f4f4;
  margin: -1px 0 0 -1px;
  padding: 20px;
}
.cnxh_content_item:hover {
  border: 1px solid #f40;
  z-index: 1;
}
.cnxh_content_item_img img {
  width: 197px;
  height: 197px;
  cursor: pointer;
}
.cnxh_content_item_line1 {
  display: block;
  height: 40px;
  line-height: 20px;
  margin: 8px 0;
  color: #666;
  font-size: 14px;
  cursor: pointer;
}
.cnxh_line2_price {
  float: left;
  position: relative;
  cursor: pointer;
}
.cnxh_line2_price span {
  color: #ff5000;
  position: absolute;
  top: 7px;
  left: -2px;
  cursor: pointer;
}
.cnxh_line2_price em {
  position: absolute;
  top: 0;
  left: 10px;
  font-size: 22px;
  font-style: normal;
  color: #ff5000;
  cursor: pointer;
  font-family: normal;
}
.cnxh_line2_proceeds {
  margin-top: 10px;
  font-size: 12px;
  color: #999;
  float: right;
  cursor: pointer;
}
.cnxh_footer {
  height: 50px;
  background: #f4f4f4;
  position: relative;
}
.cnxh_end {
  position: absolute;
  text-align: center;
  color: #ccccd0;
  left: 50%;
  width: 84px;
  line-height: 20px;
  font-size: 18px;
  margin-left: -42px;
  font-style: normal;
  top: 20px;
}
.cnxh_end::before {
  left: -70px;
  content: " ";
  position: absolute;
  height: 0;
  line-height: 0;
  border-top: 1px solid #e6e6e6;
  width: 60px;
  top: 50%;
}
.cnxh_end::after {
  right: -70px;
  content: " ";
  position: absolute;
  height: 0;
  line-height: 0;
  border-top: 1px solid #e6e6e6;
  width: 60px;
  top: 50%;
}
/* 右侧导航栏 */
.fixedTool_wrap {
  position: absolute;
  top: 550px;
  right: 122px;
}
.fixedTool {
  width: 50px;
  height: auto;
  background-color: #fff;
  border-radius: 8px;
  z-index: 101;
  text-align: center;
  margin-right: -30px;
}
.fixedTool .wangwang {
  height: 36px;
  width: 50px;
  line-height: 36px;
  text-align: center;
  font-size: 32px;
  color: #ff7f13;
}
.fixedTool a {
  display: inline-block;
  width: 34px;
  height: 40px;
  line-height: 17px;
  padding: 10px 8px 0 8px;
  text-align: center;
  font-size: 13px;
  color: #f40;
  cursor: pointer;
}
.fixedTool a div {
  padding-bottom: 6px;
  border-bottom: 1px solid #efefef;
}
.fixedTool a:first-child:hover {
  border-radius: 8px 8px 0 0;
}
.fixedTool a:last-child:hover {
  border-radius: 0 0 8px 8px;
}
.fixedTool a:hover {
  background-image: linear-gradient(135deg, #ff971b, #ff5000);
  color: #fff !important;
  font-weight: 700;
}
.fixedTool a:nth-child(2) {
  line-height: 18px;
}
.fixedTool a:nth-child(3) {
  line-height: 17px;
}
.fixedTool a:nth-child(4) {
  line-height: 18px;
  color: #a8c001;
}
.fixedTool a:nth-child(5) {
  line-height: 17px;
  color: #3c3c3c;
}
.fixedTool a:nth-child(5) i {
  display: block;
}
.fixedTool a:nth-child(6) {
  color: #3c3c3c;
  line-height: 35px;
}
.fixedTool a:nth-child(6) {
  border: none;
  color: #3c3c3c;
}


/* 底部幫助部分 */
.helper {
  width: 100%;
  height: 140px;
}
.helper_wrap {
  width: 1190px;
  height: 140px;
  margin: 0 auto;
  padding-top: 40px;
  display: flex;
}
.helper_item {
  width: 25%;
  padding: 0 25px;
}
.helper_item div {
  height: 48px;
  margin-bottom: 5px;
}
.helper_item div i {
  float: left;
  font-size: 44px;
  color: #999;
}
.helper_item div span {
  float: left;
  display: block;
  height: 50px;
  line-height: 50px;
  margin-left: 10px;
  font-size: 16px;
  color: #3c3c3c;
}
.helper_item ul {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}
.helper_item ul li {
  width: auto;
  display: inline-block;
  margin-right: 10px;
  font-size: 13px;
  color: #999;
  cursor: pointer;
}
.helper_item ul li:hover {
  color: #ff4400;
}

/* 网站底部 */
.footer {
  width: 100%;
  height: auto;
  height: 272px;
}
.footer_wrap {
  width: 100%;
  height: 272px;
  margin-top: 20px;
  background-color: #fff;
}
.footer_hd {
  margin: 10px auto;
  width: 1190px;
  height: 60px;
  padding-top: 10px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.footer_hd span {
  margin: 0 4px;
  color: #6c6c6c;
  font-size: 12px;
}
.footer_hd b {
  font-weight: 400;
  color: #ddd;
  font-size: 12px;
}

.footer_bd {
  width: 1190px;
  height: 105px;
  margin: 10px auto;
}
.footer_bd p {
  padding-bottom: 8px;
}
.footer_bd_line1 em {
  font-style: normal;
  margin-left: 30px;
  color: #9c9c9c;
  font-size: 12px;
}
.footer_bd span {
  margin: 0 4px;
  font-size: 12px;
  color: #6c6c6c;
}
.footer_bd_line2 span:last-child {
  margin: 0 4px;
  color: #9c9c9c;
}
.footer_bd b {
  font-size: 12px;
  font-weight: 400;
  color: #ddd;
}
.footer_bd_line3 span {
  margin: 0 2px;
  color: #9c9c9c;
}
.footer_mod {
  display: inline-block;
  background-image: url(https://img.alicdn.com/tfs/TB1EPnIQXXXXXaSXpXXXXXXXXXX-1133-35.jpg);
  background-repeat: no-repeat;
  vertical-align: middle;
}
.footer_bd_line4 span {
  margin: 0 2px;
  color: #9c9c9c;
}
.footer_bd_line4 span:first-child {
  color: #6c6c6c;
}

.footer_bd_line5 .footer_mod {
  height: 40px;
  margin-right: 15px;
}