/* 左边导航栏 */
.center_content_left_nav {
  width: 190px;
  height: 522px;
  background-color: #fff;
  border: 1px solid #ff5000;
  border-top: none;
  box-sizing: border-box;
}
.center_content_left_nav ul {
  padding: 2px 0;
}
.center_content_left_nav ul li {
  width: 145px;
  height: 34px;
  margin: 0 auto;
  text-align: left;
  line-height: 34px;
  padding-left: 23px;
  padding-right: 20px;
  color: #666;
  position: relative;
}

.center_content_left_nav ul li:hover {
  background-color: #ffe4dc;
  /* color: #ff5000 !important; */
}
.center_content_left_nav ul li:hover div {
  display: block;
  z-index: 1;
}
.center_content_left_nav a {
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  color: #666;
  cursor: pointer;
}
.center_content_left_nav_item:hover {
  text-decoration: underline;
  color: #ff5000;
  text-decoration-color: #ff5000;
}
.center_content_left_nav ul li > i {
  position: absolute;
  font-size: 13px;
  top: 1px;
  right: 6px;
}
/* 左边导航栏弹出部分 */
.left_nav_hover {
  width: 700px;
  height: 519px;
  border: 2px solid #f94a14;
  box-shadow: 2px 2px 0 #dcdadb;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 188px;
  display: none;
}
.second {
  top: -34px;
}
.third {
  top: -68px;
}
.fourth {
  top: -102px;
}
.fifth {
  top: -136px;
}
.sixth {
  top: -170px;
}
.seventh {
  top: -204px;
}
.eighth {
  top: -238px;
}
.ninth {
  top: -272px;
}
.tenth {
  top: -306px;
}
.eleventh {
  top: -340px;
}
.twelfth {
  top: -374px;
}
.thirteenth {
  top: -408px;
}
.fourteenth {
  top: -442px;
}
.fifteenth {
  top: -476px;
}
.nav_hover_leftPart {
  float: left;
  width: 423px;
  height: 519px;
  padding-right: 12px;
  padding-left: 10px;
  overflow-y: scroll;
}
.nav_hover_leftPart_wrap {
  margin: 10px 0;
}
.nav_hover_rightPart {
  float: left;
  width: 253px;
  border-left: 1px solid #f4f4f4;
  height: 518px;
  /* padding-top: 20px; */
  /* background-color: green; */
}
.nav_hover_rightPart_wrap {
  height: 518px;
  width: 100%;
  padding-right: 14px;
  box-sizing: border-box;
  text-align: center;
  /* background-color: red; */
}
.full {
  width: 100% !important;
}
.nav_hover_leftPart_wrap > div {
  width: 50%;
  box-sizing: border-box;
  margin-bottom: 5px;
  padding-left: 20px;
  float: left;
  overflow: hidden;
  font-size: 12px;
  color: #666;
}

.nav_hover_leftPart_wrap div > h5 {
  font-size: 16px;
  color: #333;
}
.nav_hover_leftPart_wrap div p > a {
  color: #666;
  display: inline-block;
  margin-right: 12px;
}
.nav_hover_leftPart_wrap div p > a:hover {
  cursor: pointer;
}
/* 左边导航栏弹出部分-右边图片 */
.nav_hover_rightPart_wrap span {
  display: block;
}
.nav_hover_rightPart_wrap > div {
  display: inline-block !important;
  width: 97px;
  height: 143px;
  padding: 6px 0 0 20px;
  overflow: hidden;
  cursor: pointer;
  font-size: 12px;
  color: #666;
}
.nav_hover_rightPart_wrap div > img {
  width: 98px;
  height: 97px;
}