body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
input,
form,
a,
p,
textarea {
  margin: 0;
  padding: 0;
}
ol,
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  display: block;
}
img {
  border: none;
  display: block;
}
input {
  background: none;
  outline: none;
  border: none;
}

